@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  @apply bg-gray-200;

  [data-theme='dark'] & {
    @apply bg-neutral-800;
  }
}

.section {
  //background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
    @apply text-red-400;
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }
  &__input {
    @apply border-b-gray-200;
    border-bottom-width: 2px;
    padding: 1.25rem;
    width: 100%;

    [data-theme='dark'] & {
      @apply bg-neutral-900;
      @apply border-b-neutral-800;
    }
  }
}
.todo {
  [data-theme='dark'] & {
    @apply bg-neutral-900;
    @apply border-b-neutral-800;
  }

  background-color: white;
  @apply border-b-gray-200;
  border-bottom-width: 2px;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;

  &__check {
    cursor: pointer;
  }

  &__del {
    @apply text-red-500;
    font-weight: bold;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem;

    &:hover {
      @apply text-red-800;
    }
  }

  &__title {
    width: 100%;

    &--edit {
      width: fit-content;
      border-width: 2px;
      @apply border-black;
    }

    &--content {
      cursor: pointer;
      text-align: left;
      border-width: 2px;
      border-color: transparent;
    }

    &--done {
      text-decoration: line-through;
    }
  }
}

.actions {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  [data-theme='dark'] & {
    @apply bg-neutral-900;
  }
  &__complete,
  &__clear {
    &:hover {
      @apply text-red-400;
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1.25rem;

  &__btn {
    background-color: white;
    padding: 0.5rem 0.25rem;
    border-width: 2px;
    font-size: 1.25rem;
    line-height: 1.75rem;

    [data-theme='dark'] & {
      @apply bg-neutral-900;
      @apply border-neutral-900;

      &--selected {
        @apply border-red-400;
      }
      &:hover {
        @apply border-red-400;
      }
    }

    &:hover {
      @apply border-red-400;
    }

    &--selected {
      @apply border-red-400;
    }
  }
}

.themeToggle {
  padding-top: 2rem;
  width: fit-content;
  margin: 0 auto;
}
